@charset "UTF-8";

ul {
  display: inline;
}

ul li {
  position: absolute;
  margin: 0px;
  padding: 0px;

  list-style-type: none;
  color: red;
  font-size: 8pt;
}

#み-01, #み-01a, #み-01b {
  left: 2496px;
  top: 1287px;
}
#み-02, #み-02a, #み-02b {
  left: 2496px;
  top: 1258px;
}
#み-03, #み-03a, #み-03b {
  left: 2496px;
  top: 1229px;
}
#み-04, #み-04a, #み-04b {
  left: 2496px;
  top: 1202px;
}
#み-05, #み-05a, #み-05b {
  left: 2496px;
  top: 1130px;
}
#み-06, #み-06a, #み-06b {
  left: 2496px;
  top: 1093px;
}
#み-07, #み-07a, #み-07b {
  left: 2496px;
  top: 1058px;
}
#み-08, #み-08a, #み-08b {
  left: 2496px;
  top: 990px;
}
#み-09, #み-09a, #み-09b {
  left: 2496px;
  top: 960px;
}
#み-10, #み-10a, #み-10b {
  left: 2496px;
  top: 932px;
}
#み-11, #み-11a, #み-11b {
  left: 2496px;
  top: 905px;
}
#み-12, #み-12a, #み-12b {
  left: 2496px;
  top: 695px;
}
#み-13, #み-13a, #み-13b {
  left: 2496px;
  top: 666px;
}
#み-14, #み-14a, #み-14b {
  left: 2496px;
  top: 638px;
}
#み-15, #み-15a, #み-15b {
  left: 2496px;
  top: 610px;
}
#み-16, #み-16a, #み-16b {
  left: 2496px;
  top: 540px;
}
#み-17, #み-17a, #み-17b {
  left: 2496px;
  top: 504px;
}
#み-18, #み-18a, #み-18b {
  left: 2496px;
  top: 469px;
}
#み-19, #み-19a, #み-19b {
  left: 2496px;
  top: 398px;
}
#み-20, #み-20a, #み-20b {
  left: 2496px;
  top: 370px;
}
#み-21, #み-21a, #み-21b {
  left: 2496px;
  top: 340px;
}
#み-22, #み-22a, #み-22b {
  left: 2496px;
  top: 313px;
}
#み-23, #み-23a, #み-23b {
  left: 2362px;
  top: 231px;
}
#み-24, #み-24a, #み-24b {
  left: 2332px;
  top: 231px;
}
#み-25, #み-25a, #み-25b {
  left: 2292px;
  top: 231px;
}
#み-26, #み-26a, #み-26b {
  left: 2265px;
  top: 231px;
}
#み-27, #み-27a, #み-27b {
  left: 2238px;
  top: 231px;
}
#み-28, #み-28a, #み-28b {
  left: 2210px;
  top: 231px;
}
#み-29, #み-29a, #み-29b {
  left: 2170px;
  top: 231px;
}
#み-30, #み-30a, #み-30b {
  left: 2142px;
  top: 231px;
}
#み-31, #み-31a, #み-31b {
  left: 2024px;
  top: 231px;
}
#み-32, #み-32a, #み-32b {
  left: 1983px;
  top: 231px;
}
#み-33, #み-33a, #み-33b {
  left: 1618px;
  top: 231px;
}
#み-34, #み-34a, #み-34b {
  left: 1592px;
  top: 231px;
}
#み-35, #み-35a, #み-35b {
  left: 1548px;
  top: 231px;
}
#み-36, #み-36a, #み-36b {
  left: 1522px;
  top: 231px;
}
#み-37, #み-37a, #み-37b {
  left: 1495px;
  top: 231px;
}
#み-38, #み-38a, #み-38b {
  left: 1467px;
  top: 231px;
}
#み-39, #み-39a, #み-39b {
  left: 1424px;
  top: 231px;
}
#み-40, #み-40a, #み-40b {
  left: 1398px;
  top: 231px;
}
#み-41, #み-41a, #み-41b {
  left: 1061px;
  top: 231px;
}
#み-42, #み-42a, #み-42b {
  left: 1022px;
  top: 231px;
}
#み-43, #み-43a, #み-43b {
  left: 995px;
  top: 231px;
}
#み-44, #み-44a, #み-44b {
  left: 967px;
  top: 231px;
}
#み-45, #み-45a, #み-45b {
  left: 939px;
  top: 231px;
}
#み-46, #み-46a, #み-46b {
  left: 897px;
  top: 231px;
}
#み-47, #み-47a, #み-47b {
  left: 870px;
  top: 231px;
}
